{% extends 'base.html' %}
{% load static %}



{% block body_block %}
      <div class="container-fluid ccontainer-fluid"  >
        <div class="col-md-12" id="banner">
            <center>
                <h5>About Page</h5>
            </center>
            <div class="row">
                <div class="col-md-6">
                    <div class="card-body ccard">
                       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4TjJDT2uJ6oyHfsi1Tbsg_9XNtwcBxd4Hog&s" class="img-fluid">
        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                       <p>This is about page ..!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="sec_c">

  </div>

{% endblock %}    