{% extends 'base.html' %}
{% load static %}

{% block body_block %}
    <div class="container-fluid"  >
        <div class="col-md-12 sec" >
            <div class="row">
                <div class="col-md-6">
                    <div class="card-body">
                        <h6 class="title-3">WELCOME TO BHARATHBRANDS</h6>
                        <h1 class="paragraph-3">Groundbreaking <br> Innovations Across<br> Diverse Sectors</h1>
                      
                        <p class="paragraph-3">A unique and powerful software Multiple Products and<br> service are provided in our company. Get the world<br>
                        class best services in adorable price.</p>
                            
                        <button class="btn">Contact us</button>
                        <button class="btn1">Free</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                    <img src="{% static 'images/Group 1000003831.png' %}"  width="80%" height="80%" >
                    </div>
                </div>
            </div>
        </div>
    </div>
  
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card zoomeffect1 title-1">
               <div class="card-body">
                <i class="fa fa-group" style="font-size:24px;color: blue;"></i>
                <h5 class="card-title paragraph-1 ">Our Happy Clients</h5>
                <p class="card-text paragraph-1">With supporting text below as a natural lead-in to additional content.</p>
                <h4>17</h4>
               </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card zoomeffect1 title-1">
               <div class="card-body">
                <i class="fa fa-heart" style="font-size:24px;color:rgb(187, 110, 123)"></i>
                <h5 class="card-title paragraph-1">Projects Done</h5>
                <p class="card-text paragraph-1">With supporting text below as a natural lead-in to additional content.</p>
                <h4>78</h4>
               </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card zoomeffect1 title-1">
               <div class="card-body">
                <i class="fa fa-trophy" style="font-size:24px; color:green;"></i>
                <h5 class="card-title paragraph-1">Win Awards</h5>
                <p class="card-text paragraph-1">With supporting text below as a natural lead-in to additional content.</p>
                <h4>06</h4>
               </div>
            </div>
        </div>
    </div>
</div>
  
<div class="container-fluid ">
   
        <div class="col-md-12 ">
            <div class="row">
            <div class="col-md-6" id="sec1">
                <h5 class="title-2">About us</h5>
                <h3 class="title-2">The Best It Solution With Experts</h3>
                <p class="paragraph-2">to service you for best IT servics</p>
                <p class="paragraph-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem facere, sit quis eius quaerat quidem autem atque consectetur deserunt dolores debitis, vel magnam! Necessitatibus accusantium porro fugit provident, minima sunt.</p>
               <p> <i class="fa fa-check-circle" style="color: blue;"></i> 24/7 support
                <i class="fa fa-check-circle" style="color: blue;"></i> 24/7 support</p>
                <p> <i class="fa fa-check-circle" style="color: blue;"></i> 24/7 support
             <i class="fa fa-check-circle" style="color: blue;"></i> 24/7 support</p>
             <button class="btn3">Readme</button>
            </div>
           
            <div class="col-md-6">
            <img src="{% static 'images/Group 1000003743.png' %}" height="100%" width="100%">

            </div>
        </div>

    </div>
    </div>
</div>
<div>
    <h6 style="text-align: center; margin-top: 10px;"class="title-3">Why Choose us</h6>
    <h5 style="text-align: center;" class="title-3">We Are Here To Grow Your <br>Business Exponentially</h5>
    <p style="text-align: center;"class="title-3">With supporting text lead-in to additional content.</p>
</div>
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card zoomeffect1">
               <div class="card-body">
                <i class="fa fa-flag" style="font-size:24px;color: green;"></i>
                <h5 class="card-title title-1">Innovative Approach</h5>
                <p class="card-text paragraph-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem nisi culpa placeat totam quia dolor, aspernatur voluptates. </p>
                
               </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card zoomeffect1 ">
               <div class="card-body">
                <i class="fa fa-heart" style="font-size:24px;color:rgb(187, 110, 123)"></i>
                <h5 class="card-title title-2">Agille Methedoligies</h5>
                <p class="card-text paragraph-2 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem nisi culpa placeat totam quia dolor, aspernatur voluptates. </p>
                
               </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card zoomeffect1">
               <div class="card-body">
                <i class="fa fa-star" style="font-size:24px; color:rgb(107, 31, 143);"></i>
                <h5 class="card-title title-2">User Centric Solutions</h5>
                <p class="card-text paragraph-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem nisi culpa placeat totam quia dolor, aspernatur voluptates. </p>
                
               </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" >
    <div class="row" style="width: 100%;">
     <div class="col-md-4" >
        <div class="card zoomeffect2" style="margin:0 10px 10px; width: 100%;">
            <div class="card-body">
             <i class="fa fa-id-badge" style="font-size:24px;color:rgb(243, 156, 85)"></i>
             <h5 class="card-title title-2">Expert</h5>
             <p class="card-text paragraph-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem nisi culpa placeat totam quia dolor, aspernatur voluptates. </p>
             
            </div>
         </div>
    
    
         <div class="card zoomeffect2" style="margin:10px 10px; width: 100%;">
            <div class="card-body">
             <i class="fa fa-signing" style="font-size:24px; color:rgb(209, 82, 198);"></i>
             <h5 class="card-title title-2"> AI and Machine Learning Integration</h5>
             <p class="card-text paragraph-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem nisi culpa placeat totam quia dolor, aspernatur voluptates. </p>
             
            </div>
     </div> 
    </div>
     <div class="col-md-4 zoomeffect1">
        <img src="{% static 'images/Group 181.png' %}" width="100%" height="83%">
     </div> 
     <div class="col-md-4">
        <div class="card zoomeffect2" style="margin:0 10px 10px; width: 100%;">
            <div class="card-body">
             <i class="fa fa-certificate" style="font-size:24px;color:rgb(181, 61, 218)"></i>
             <h5 class="card-title title-2">Customization and Scalability</h5>
             <p class="card-text paragraph-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem nisi culpa placeat totam quia dolor, aspernatur voluptates. </p>
             
            </div>
         </div>
    
    
         <div class="card zoomeffect2 " style="margin:10px 10px; width: 100%;">
            <div class="card-body">
             <i class="fa fa-cloud" style="font-size:24px; color:rgb(31, 143, 124);"></i>
             <h5 class="card-title title-2">Cloud Native and Hybrid Solutions</h5>
             <p class="card-text paragraph-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem nisi culpa placeat totam quia dolor, aspernatur voluptates. </p>
             
            </div>
     </div> 
    </div>
     </div>   
    </div>
</div>
  {% endblock %}