{% extends 'base.html' %}
{% load static %}



{% block body_block %}
      <div class="container-fluid ccontainer-fluid"  >
        <div class="col-md-12" id="banner">
            <center>
                <h5>Service Page</h5>
                
            </center>
            <div class="row">
                <div class="col-md-6">
                    <div class="card-body ccard">
                       <img src="{% static 'images/logo.png' %}" class="img-fluid">
                       <h1>Services</h1>
        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                       <p>This is service page ..!</p>
                       <h5> We can add multiple services <h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="sec_c">

  </div>

{% endblock %}    